<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Examle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6E3C6F11F4724DA00A8B75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E3C70A1F4724DA00A8B75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6E3C7151F4724DA00A8B75D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
